* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    background: black;
}

.navigate {
    position: fixed;
    width: 60px;
    height: 100%; 
    background: lightskyblue;
    transition: 1s;
    overflow: hidden;
}

.navigate:hover {
    width: 250px;
}

.navigation ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.navigate ul li {
    position: relative;
    width: 100%;
    list-style: none;

}

.navigate ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: rgb(63, 61, 61);
}

.navigate ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;


}